// SASS COLORS
$defBlue: #9d69da;
$defBlueDarken: #6E4998;
$defRuby: #D110A4;
$defRubyDarken: #920B72;
$defGrey: #594E54;
$headFont: 'Cormorant Garamond', serif;
$textFont: 'Montserrat', sans-serif;
// APP
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}
// first page start
.loginWrapper {
}
.loginHeader {
    background-color: white;
    text-align: center;
    margin-top: 1.5em;
    h1 {
        color: $defRuby;
        font-family: $headFont;
        font-size: 3.1em;
        font-weight: 900;
    }
    h2 {
        color: $defGrey;
        font-family: $textFont;
        font-size: 1em;
        margin-bottom: 1.5em;
    }
    .image1 {
        background-image: url("undraw_airport_2581.png");
    }
}

.buttonsSection {
    background-color: blue($color: #000000);
    position: absolute;
    top: 64.5%;
    left: 50%;
    margin-left: -7em;
    text-align: center;
    p {
        font-family: $textFont;
        font-size: 0.9em;
        color: $defGrey
    }
    .logIn {
        font-size: 1.1em;
        background: #ffffff;
        margin: 0.4em;
        padding: 1em 4.5em;
        border: 2px solid $defGrey;
        border-radius: 3em;
        font-family: $textFont;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
        color: $defGrey;
    }
    .logIn:active {
        background-color: $defGrey;
        color: white;
    }
    .signUp {
        font-size: 1.1em;
        background-color: $defRuby;
        margin: 0.4em;
        padding: 1em 4em;
        color: white;
        border: 2px solid $defRuby;
        border-radius: 3em;
        font-family: $textFont;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
    }
    .signUp:active {
        background-color: #A80D84;
        border: 2px solid #A80D84;

    }
}
// first page end

// second page start

.welcomeHeader {
    margin: 1.2em;
    font-family: $textFont;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    .welcomeBack {
        color: $defGrey;
    }
    .profileAvatar {
        font-weight: 900;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        padding: 1em 1.2em;
        background-color: $defBlue;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
        border-bottom: 2px solid $defBlueDarken;
    }
    .profileAvatar::before {
        content: 'JK';
    }
    .profileSettings {
        text-align: center;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        padding: 1em 1.2em;
        background-color: $defRuby;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
        border-bottom: 2px solid $defRubyDarken;
    }
    .profileSettings::before {
        font-family: "Font Awesome 5 Free";
        content: "\f4fe";
        font-weight: 700;
    }
}

.middle {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-family: $textFont;
    color: $defGrey;
    font-size: 1.18em;
}
.contentFirst {
    text-align: center;
    font-family: $textFont;
    div {
        height: 20vh;
        margin-bottom: 2em;
        border: 2px solid $defBlue;
        margin-left: 1.2em;
        margin-right: 1.2em;
        border-radius: 5px;
        padding: 0.4em;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
        color: $defGrey;
    }
    div:active {
        border: 2px solid $defRuby;
    }
}
.btn-wrapper {
    text-align: center;
    color: $defBlue;
    font-size: 2.8em;
    margin: 0.7em;
    .back-to-top {
      width: 1.1em;
      height: 1.1em;
      display: inline-block;
      i {
          vertical-align: middle;
      }
    }
}
// second page end


//city page start
    //images
.firstImg {
    overflow: hidden;
    position: relative;
    top: -5em;
}
.firstImg, .mntns {
    overflow: hidden;
    position: relative;
    top: -6.06em;
}
.secondImg {
    overflow: hidden;
    position: relative;
    bottom: 6.9em;
}
 .bch {
    margin-top: 6em;
}
    //articles
.firstArticle {
    margin: 1.2em;
    .firstHeading {    
        position: relative;
        bottom: 2.2em;
        font-family: $headFont;
        font-weight: 900;
        font-size: 2.7em;
        color: $defRuby;
    }
    .articleCity {
        width: 80%;
        font-family: $textFont;
        color: $defGrey;
        position: relative;
        bottom: 6em;
    }
}

.secondArticle {
    margin-top: 1.2em;
    margin: 1.2em;
    .secondHeading {
        font-family: $headFont;
        font-weight: 900;
        font-size: 2.7em;
        color: $defRuby;
        position: relative;
        bottom: 2.9em;
    }
    .articleNightlife {
        width: 94%;
        font-family: $textFont;
        color: $defGrey;
        position: relative;
        bottom: 7.6em;

    }
    
}

.btn-email-city {
    font-size: 1.1em;
    background-color: $defBlue;
    margin: 1.2em;
    margin-top: -6em;
    padding: 1em 3em;
    border: 2px solid $defBlue;
    border-radius: 3em;
    font-family: $textFont;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
    color: white;
    text-align: center;
    position: relative;
}
.btn-back-city {
    font-size: 1.1em;
    background: none;
    margin: 1.2em;
    margin-top: -0.6em;
    padding: 0.5em 3.2em;
    border: 2px solid $defGrey;
    border-radius: 9em;
    font-family: $textFont;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
    color: $defGrey;
    text-align: center;
    position: relative;
    i {
        font-size: 2.2em;
        vertical-align: middle;
        padding-right: 0.2em;
    }
}
.firstHeading.cntry-heading-one {
    font-weight: 900;
    font-size: 2.3em;
    margin-bottom: 0.4em;
}
.secondHeading.cntry-heading-two {
    margin-top: 1.2em;
}
.firstHeading, .mtns-heading-one {
    margin-top: -0.5em;
}
// settings
.profile-photo-card {
    background: $defBlue;
    height: 35vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nophoto-text {
    color: white;
    font-size: 6em;
    font-family: $textFont;
}
.details-wrapper {
    margin-top: 1em;
    font-family: $textFont;
}
.dt {
    margin-left: 1.2em;
    margin-right: 1.2em;
    p {
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 5px;
    }
    a {
        margin-left: 0.1em;
        margin-bottom: 0.5em;
    }
    i {
        float: right;
    }
}

.btn-logout {
    font-size: 1.1em;
    background: none;
    margin: 1.2em;
    margin-top: -0.6em;
    padding: 0.5em 3.2em;
    border: 2px solid $defGrey;
    border-radius: 9em;
    font-family: $textFont;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
    color: $defGrey;
    text-align: center;
    position: relative;
    i {
        font-size: 2.2em;
        vertical-align: middle;
        padding-right: 0.2em;
    }
}
.mg-top {
    margin-top: 25px;
}
.settinx {
    margin-top: 1em;
}
