* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.loginHeader {
  background-color: white;
  text-align: center;
  margin-top: 1.5em;
}

.loginHeader h1 {
  color: #D110A4;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.1em;
  font-weight: 900;
}

.loginHeader h2 {
  color: #594E54;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  margin-top: -0.9em;
  margin-bottom: 1.5em;
}

.loginHeader .image1 {
  background-image: url("undraw_airport_2581.png");
}

.buttonsSection {
  background-color: 0;
  position: absolute;
  top: 64.5%;
  left: 50%;
  margin-left: -7em;
  text-align: center;
}

.buttonsSection p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  color: #594E54;
}

.buttonsSection .logIn {
  font-size: 1.1em;
  background: none;
  margin: 0.4em;
  padding: 1em 4.5em;
  border: 2px solid #594E54;
  border-radius: 3em;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
  color: #594E54;
}

.buttonsSection .logIn:active {
  background-color: #594E54;
  color: white;
}

.buttonsSection .signUp {
  font-size: 1.1em;
  background-color: #D110A4;
  margin: 0.4em;
  padding: 1em 4em;
  color: white;
  border: 2px solid #D110A4;
  border-radius: 3em;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
}

.buttonsSection .signUp:active {
  background-color: #A80D84;
  border: 2px solid #A80D84;
}

.welcomeHeader {
  margin: 1.2em;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}

.welcomeHeader .welcomeBack {
  color: #594E54;
}

.welcomeHeader .profileAvatar {
  font-weight: 900;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 1em 1.2em;
  background-color: #9d69da;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
  border-bottom: 2px solid #6E4998;
}

.welcomeHeader .profileAvatar::before {
  content: 'JK';
}

.welcomeHeader .profileSettings {
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 1em 1.2em;
  background-color: #D110A4;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
  border-bottom: 2px solid #920B72;
}

.welcomeHeader .profileSettings::before {
  font-family: "Font Awesome 5 Free";
  content: "\f4fe";
  font-weight: 700;
}

.middle {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
  color: #594E54;
  font-size: 1.18em;
}

.contentFirst {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.contentFirst div {
  height: 20vh;
  margin-bottom: 2em;
  border: 2px solid #9d69da;
  margin-left: 1.2em;
  margin-right: 1.2em;
  border-radius: 5px;
  padding: 0.4em;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
  color: #594E54;
}

.contentFirst div:active {
  border: 2px solid #D110A4;
}

.btn-wrapper {
  text-align: center;
  color: #D110A4;
  font-size: 2.8em;
  margin: 0.7em;
}

.btn-wrapper .back-to-top {
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
}

.btn-wrapper .back-to-top i {
  vertical-align: middle;
}

.firstImg {
  overflow: hidden;
  position: relative;
  top: -5em;
}

.firstImg, .mntns {
  overflow: hidden;
  position: relative;
  top: -6.06em;
}

.secondImg {
  overflow: hidden;
  position: relative;
  bottom: 6.9em;
}

.firstArticle {
  margin: 1.2em;
}

.firstArticle .firstHeading {
  position: relative;
  bottom: 2.2em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  font-size: 2.7em;
  color: #D110A4;
}

.firstArticle .articleCity {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  color: #594E54;
  position: relative;
  bottom: 6em;
}

.secondArticle {
  margin-top: 1.2em;
  margin: 1.2em;
}

.secondArticle .secondHeading {
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  font-size: 2.7em;
  color: #D110A4;
  position: relative;
  bottom: 2.9em;
}

.secondArticle .articleNightlife {
  width: 94%;
  font-family: "Montserrat", sans-serif;
  color: #594E54;
  position: relative;
  bottom: 7.6em;
}

.btn-email-city {
  font-size: 1.1em;
  background-color: #9d69da;
  margin: 1.2em;
  margin-top: -6em;
  padding: 1em 3em;
  border: 2px solid #9d69da;
  border-radius: 3em;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
  color: white;
  text-align: center;
  position: relative;
}

.btn-back-city {
  font-size: 1.1em;
  background: none;
  margin: 1.2em;
  margin-top: -0.6em;
  padding: 0.5em 3.2em;
  border: 2px solid #594E54;
  border-radius: 3em;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
  color: #594E54;
  text-align: center;
  position: relative;
}

.btn-back-city i {
  font-size: 2.2em;
  vertical-align: middle;
  padding-right: 0.2em;
}

.firstHeading.cntry-heading-one {
  font-weight: 900;
  font-size: 2.3em;
  margin-bottom: 0.4em;
}

.secondHeading.cntry-heading-two {
  margin-top: 1.2em;
}

.firstHeading, .mtns-heading-one {
  margin-top: -0.5em;
}
/*# sourceMappingURL=style.css.map */